<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--头条，娱乐，社会，笑话，科技，汽车，军事，时尚，国际，体育，财经，健康-->
<dict>
	<key>newsPageInfos</key>
	<array>
		<dict>
			<key>newskey</key>
			<string>1</string>
			<key>title</key>
			<string>头条</string>
		</dict>
		<dict>
			<key>newskey</key>
			<string>2</string>
			<key>title</key>
			<string>娱乐</string>
		</dict>
		<dict>
			<key>newskey</key>
			<string>3</string>
			<key>title</key>
			<string>社会</string>
		</dict>
		<dict>
			<key>newskey</key>
			<string>4</string>
			<key>title</key>
			<string>笑话</string>
		</dict>
		<dict>
			<key>newskey</key>
			<string>5</string>
			<key>title</key>
			<string>科技</string>
		</dict>
		<dict>
			<key>newskey</key>
			<string>6</string>
			<key>title</key>
			<string>汽车</string>
		</dict>
        <dict>
            <key>newskey</key>
            <string>7</string>
            <key>title</key>
            <string>军事</string>
        </dict>
        <dict>
            <key>newskey</key>
            <string>8</string>
            <key>title</key>
            <string>时尚</string>
        </dict>
        <dict>
            <key>newskey</key>
            <string>9</string>
            <key>title</key>
            <string>国际</string>
        </dict>
        <dict>
            <key>newskey</key>
            <string>10</string>
            <key>title</key>
            <string>体育</string>
        </dict>
        <dict>
            <key>newskey</key>
            <string>11</string>
            <key>title</key>
            <string>财经</string>
        </dict>
        <dict>
            <key>newskey</key>
            <string>12</string>
            <key>title</key>
            <string>健康</string>
        </dict>
	</array>
</dict>
</plist>
